@page
@model InfoModel
@{
    ViewData["Title"] = "Info";
}
<div class="text-center">
    <p>
        <text style="font-size: 200%">Автогенератор отчетов по лабораторным из инфы от is-tech-y24-2</text>
    </p>
    <p>
        <text style="font-size: 200%">Если хотите поконтрибутить: </text>
        <a style="font-size: 200%" href="https://github.com/Mihinator3000/ReportGenerator">GitHub</a>
    </p>
</div>
